---
import AppLayout from "@layouts/AppLayout.astro";
import { Image } from "astro:assets";
import authorImage from "../assets/me.png";
import logo from "../assets/logo.png";
import technologies from "@data/technologies.json";
import Skill from "@components/Skill.astro";
import { author } from "@data/socials";
---

<AppLayout title="ZTA Security">
  <header class="sm:flex sm:items-center sm:justify-between">
    <div class="rounded aspect-square w-40 overflow-hidden inline-flex drop-shadow-none lg:drop-shadow-[0px_0px_35px_rgba(83,70,250,0.90)]">
      <Image
        src={logo}
        alt="ZTA Security logo"
        loading="eager"
        width={814}
        height={541}
      />
    </div>
    <div class="mt-8 max-w-lg 2xl:max-w-xl sm:my-0 sm:order-first">
      <h1
        class="mb-2 text-3xl font-bold tracking-tight dark:text-white text-zinc-900 sm:text-4xl"
      >
        {author}
      </h1>
      <p class="mb-4 dark:text-zinc-300 text-zinc-700 flex items-center">
      </p>
      <p
        class="max-w-prose font-normal text-sm md:text-lg dark:text-zinc-400 text-zinc-600 sm:max-w-sm md:max-w-xl leading-relaxed"
      >
        Cyber for devs
      </p>
      <p class="mb-4 dark:text-zinc-300 text-zinc-700 flex items-center">
        ZTA Security is a leading cybersecurity firm dedicated to empowering software developers with the knowledge and tools they need to secure their technology stack. Our specialized training programs are designed to address the unique challenges faced by developers, ensuring that security is integrated into every stage of the development lifecycle. Join us in building a safer digital world, one line of code at a time.
      </p>
    </div>
  </header>
  <section class="mt-10 sm:mt-28" aria-labelledby="section-title">
  </section>
</AppLayout>
